# Создание дашборда по пользовательским событиям для агрегатора новостей

## Цель проекта:

- Автоматизировать процесс визуализации активности с помощью python, sql, tableau

## Задачи:
- Импортировать данные с базы данных через запрос с ней
- Экспортировать в формате csv
- Настроить дашборд
- Сделать презентацию

## Проект

In [2]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in d:\anaconda\lib\site-packages (2.9.6)

In [3]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': '', # имя пользователя
            'pwd': '', # пароль
            'host': '',
            'port': 6432, # порт подключения
            'db': ''} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

query = 'SELECT * FROM dash_visits'

dash_visits = pd.io.sql.read_sql(query, con = engine)
dash_visits

,record_id,item_topic,source_topic,age_segment,dt,visits
0,1040597,Деньги,Авто,18-25,2019-09-24 18:32:00,3
1,1040598,Деньги,Авто,18-25,2019-09-24 18:35:00,1
2,1040599,Деньги,Авто,18-25,2019-09-24 18:54:00,4
3,1040600,Деньги,Авто,18-25,2019-09-24 18:55:00,17
4,1040601,Деньги,Авто,18-25,2019-09-24 18:56:00,27
...,...,...,...,...,...,...
30740,1071337,Юмор,Финансы,36-40,2019-09-24 18:57:00,2
30741,1071338,Юмор,Финансы,36-40,2019-09-24 19:00:00,1
30742,1071339,Юмор,Финансы,41-45,2019-09-24 18:54:00,1
30743,1071340,Юмор,Финансы,41-45,2019-09-24 18:56:00,1
30744,1071341,Юмор,Финансы,41-45,2019-09-24 19:00:00,1

In [11]:
dash_visits.to_csv('dash_visits.csv', index=False)

Здесь ссылка на табло :
" https://public.tableau.com/views/Project_0_1/Dashboard1?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link "

Здесь ссылка на презентацию : 
" https://disk.yandex.ru/i/JMhXkUtEezRbiw "